<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="views/pages/carousel/fonts/icomoon/style.css">

    <link rel="stylesheet" href="views/pages/carousel/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="views/pages/carousel/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="views/pages/carousel/css/style.css">

    <title>Carousel #4</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">

     

      <div class="owl-carousel slide-one-item">

        <div class="d-md-flex testimony-29101 align-items-stretch">
          <div class="image" style="background-image: url('views/pages/carousel/images/person_1.jpg');"></div>
          <div class="text">
            <blockquote>
              <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, at! Atque totam obcaecati veniam eius vero, similique quibusdam! Sunt sequi, nemo. Quam consequuntur ipsum suscipit repellat molestiae laboriosam, incidunt!&rdquo;</p>

              <div class="author">&mdash; Lorem ipsum dolor sit amet</div>
            </blockquote>
          </div>
        </div>  <!-- .item -->

        <div class="d-md-flex testimony-29101 align-items-stretch">
          <div class="image" style="background-image: url('views/pages/carousel/images/person_2.jpg');"></div>
          <div class="text">
            <blockquote>
              <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, at! Atque totam obcaecati veniam eius vero, similique quibusdam! Sunt sequi, nemo. Quam consequuntur ipsum suscipit repellat molestiae laboriosam, incidunt!&rdquo;</p>

              <div class="author">&mdash; Lorem ipsum dolor sit amet</div>
            </blockquote>
          </div>
        </div>  <!-- .item -->
          

      </div>


    </div>
  </div>
    
    

    <script src="views/pages/carousel/js/jquery-3.3.1.min.js"></script>
    <script src="views/pages/carousel/js/popper.min.js"></script>
    <script src="views/pages/carousel/js/bootstrap.min.js"></script>
    <script src="views/pages/carousel/js/owl.carousel.min.js"></script>
    <script src="views/pages/carousel/js/main.js"></script>
  </body>
</html>